<% include partials/header %>

<div class="jumbotron">
    <div class = "container-fluid" id="banner-text-container">
        <h1 class="jumbotron-text">Healthy Food and Whatnot</h1>
        <h2 class="jumbotron-text">Eat it if you want</h2>
    </div>
</div>

<!--End jumbotron-->

<div class="container">
    <div class="row ordering-sites">
        <div class="col-lg-4"><img src="https://uberblogapi.10upcdn.com/wp-content/uploads/2017/09/ubereatslogo2.png" id="uber-eats-logo"></div>
        <div class="col-lg-4"><img src="https://cdn.shopify.com/s/files/1/0972/6726/t/19/assets/grubhub.png?944713018036056175"></div>
        <div class="col-lg-4"><img src="https://cdn.shopify.com/s/files/1/0972/6726/t/19/assets/doordash.png?944713018036056175"></div>
    </div>
    
<!--End ordering sites-->

    <hr>
    <div class="row">
        <div class="col-lg-12 menu-title">
            <h2>Lunch & Dinner Menu</h2>
            <p>100% free of gluten, dairy, corn, soy, peanuts, refined sugar & seed oils.</p>
        </div>
    </div>
    <hr>
    
<!--Function to create Thumbnails for each item in db-->
    
    <% function makeItemThumbnails(){%>
      <% for(var i = 0; i<items.length; i++){ %>
        <div class="col-md-3 col-sm-6 entrees">
          <div class="thumbnail display-item item-containers" data-toggle="modal" data-target="#exampleModalLong<%= i %>">
            <img src=" <%= items[i].image %>">
            <div class="caption">
                <h4> <%= items[i].name %> </h4>
            </div>
            <button type="button" class="btn btn-primary view-button" >
              View
            </button>
          </div>  
        </div>
        <div class="modal fade" id="exampleModalLong<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle"><%= items[i].name %></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="col-sm-6">
                  <img src="<%= items[i].image %>" class="modal-images" id="modal-image<%= i %>">
                </div>
                <div class="col-sm-6">
                  <iframe title="CRONOMETER.com" width="320" height="540" src="<%= items[i].nutrition %>" frameborder="0"></iframe>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% }%>
    <% } %>
    
    <!--Call function to make items-->
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% makeItemThumbnails(); %>
    </div>
</div>

<% include partials/footer %>
